[submodule "3rdparty/imgui"]
	path = 3rdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "3rdparty/cpprest-http-client-sdk"]
	path = 3rdparty/cpprest-http-client-sdk
	url = https://github.com/loki2001-dev/cpprest-http-client-sdk.git